* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $primary-color;
  font-family: $font-inter;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin flex-center-column($wrap: no-wrap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: $wrap;
}

@mixin flex-center-row($wrap: no-wrap) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: $wrap;
}

@mixin main($min-height: 100vh) {
  @include flex-center-column;
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-inter;
  width: 100%;
  min-height: $min-height;
}

@mixin card() {
  padding: 1.7rem;
  text-align: center;
  background-color: $grey-dark;
  border-radius: var(--borderRadius);
  width: 90vw;
  gap: 1rem;
  box-shadow: var(--shadow-4);
}
