$blue-accent: #646cff;
$blue: #006dfb;
$purple: #41197f;
$black: #242424;
$grey-dark: #464646;
$grey-200: #e2e8f0;
$grey-50: #f8fafc;
$green-light: #d1e7dd;
$white: rgba(255, 255, 255, 0.87);
$red-light: #f8d7da;
$red-dark: #dc3545;

$primary-color: $black;
$secondary-color: $white;
$accent-color: $blue-accent;
